@import "@ibm/plex-mono/css/ibm-plex-mono-default.css";
@import "@ibm/plex-sans/css/ibm-plex-sans-default.css";

.nameplate {
    width: 100%;
    font-size: 4rem;
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 0 1rem;
    border: solid;
    /* TODO: fade out text separately so it doesn't instantly transition */
    transition: all 0.3s; 
    display: block;
    box-sizing: content-box;
    line-height: 1.5em;
    user-select: text;
    cursor: pointer;
    font-family: 'IBM Plex Mono';

    &.alt {
        background: var(--primary-color);
        color: var(--secondary-color);
        font-family: 'IBM Plex Sans';
    }

    &.left {
        text-align: left;
    }

    &.right {
        text-align: right;
    }
}

.container {
    width: min-content;
    display: flex;
    flex-direction: column;
    text-align: right;

    &.left {
        align-items: start;
    }

    &.right {
        align-items: end;
    }
}

.menu {
    display: flex;
    margin: 1rem;
    gap: 1.5rem;

    &.right {
        justify-content: flex-end;
    }

    &.left {
        justify-content: flex-start;
    }

    a {
        color: var(--primary-color);

        &:hover {
            opacity: 80%;
        }
    }
}

.close {
    text-align: center;
}

.icon-button {
    cursor: pointer;
    background: none;
    border: none;
    color: var(--primary-color);

    &:hover {
        opacity: 80%;
    }
}