:root {
  --dark: #242424;
  --light: #f9f9f9;
  --primary-color: var(--dark);
  --secondary-color: var(--light);

  /* TODO: update font */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--light);
    --secondary-color: var(--dark);
  }
}
