:root {
    --primary-color: black;
    --secondary-color: white;
}

.nameplate {
    font-size: 4rem;
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 0 1rem;
    border: solid;
    /* TODO: fade out text separately so it doesn't instantly transition */
    transition: all 0.3s; 

    &.alt {
        background: var(--primary-color);
        color: var(--secondary-color);
    }
}

.container {
    &.left {
        text-align: left;
    }

    &.center {
        text-align: center;
    }

    &.right {
        text-align: right;
    }
}
.menu {
    display: flex;
    margin: 1rem;
    gap: 1.5rem;

    &.right {
        justify-content: flex-end;
    }

    &.left {
        justify-content: flex-start;
    }
}